<p-card styleClass="user-form" class="flex justify-content-center">
  <form [formGroup]="User" (ngSubmit)="addUser()" novalidate>
    <div class="field">
      <label for="firstName" class="block">First Name</label>
      <input type="text" pInputText placeholder="First Name" formControlName="username" />
      <small class="p-error block" *ngIf="User.controls['username']?.invalid && User.controls['username']?.dirty">
        Username is required
      </small>
    </div>
    <div class="field">
      <label for="lastName" class="block">Last Name</label>
      <input type="text" pInputText placeholder="Last Name" formControlName="email" />
    </div>

      <div class="field">
        <label for="passwordHash" class="block">passwordHash</label>
        <input type="text" pInputText placeholder="passwordHash" formControlName="passwordHash" />
      </div>
      <div class="field">
        <label for="role" class="block">role</label>
        <input type="text" pInputText placeholder="role" formControlName="role" />
        <small class="p-error block" *ngIf="User.controls['role']?.invalid && User.controls['role']?.dirty">
          Role is required
        </small>
      </div>
    
    <button pButton type="submit" label="Submit" [disabled]="User.invalid"></button>
  </form>
</p-card>
